/* LandingPage.css */
/* the main container */


:root {
    /* CSS HEX */
    --pink: #f6bbc1ff;
    --russian-violet: #30214cff;
    --burgundy: #71141eff;
    --violet-jtc: #6c3252ff;
    --rich-black: #04071aff;
    --indigo-dye: #0b447bff;
    --dark-purple: #321f37ff;
    --glaucous: #7889b7ff;
}

.Title {
    font-size: 16px;
    font-weight: 600;
}

.LandingPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LandingPageBackground {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: .9;
    /*background-size: contain;*/
    background-position: center right;
    z-index: -10;
    background-image: url(https://images.unsplash.com/photo-1548983965-416c1920352e);
    transform: rotate(180deg);
}

.LandingPageBackground::after,
.LandingPageBackground::before {
    content: "";
    position: absolute;
    inset: 0;
}

.LandingPageBackground::before {
    backdrop-filter: blur(50px);
}

.LandingPageBackground::after {
    backdrop-filter: blur(500px);
    animation: opacity 10s ease infinite;
}

.LandingPageContainer {
    width: 60%;
    height: 75%;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    /*background: #fff;*/
    background: #ffffff05;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 0px 1px rgb(255 255 255 / 7%), 0px 2px 2px 0px rgb(255 255 255 / 5%);
}

.LandingImage {
    flex-basis: 50%;
    flex-shrink: 0;
    background-image: url('https://images.unsplash.com/photo-1548983965-416c1920352e');
    background-size: 300%;
    background-position: bottom right;
}

.LandingForm {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    padding: 32px 40px;
}

.not-member-text {
    font-size: 14px;
    /*color: rgb(113 113 122);*/
    color: rgb(175 175 188);
}

.not-member-button {
    color: #e43675;
    text-decoration: none;
    font-weight: 600;
}

.not-member-button:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-size: 14px;
    font-weight: 500;
}

/* the input fields */
.input-name {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input {
    width: 100%;
    padding: 5px 11px;
    border-radius: 8px;
    border: 1px solid rgba(9, 9, 11, .2);
    background: #ffffff0f;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.submit-button {
    padding: 9px 11px;
    background-color: #e43675;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    transition: all 100ms ease-out;
}

.submit-button:hover {
    opacity: 0.8;
}

.submit-button:active {
    opacity: 0.6;
}

.AlertMessage {
    font-size: 14px;
    text-align: center;
}
