.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    /*background: #f1f1f1;*/
    background: #1d274a;
    color: white;
}

.NavBarSection {
    display: flex;
    gap: 20px
}

.NavBarSection button {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
}

.NavBarSection button::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px -6px;
    background: #c6c6c6;
    border-radius: 6px;
    transform: scale(0.8);
    opacity: 0;
    transition: all 100ms ease-out;
}

.NavBarSection button:hover::before,
.NavBarSection button.selected::before {
    transform: scale(1);
    /*opacity: .5;*/
    opacity: .3;
}

.NavBarSection button:active::before {
    transform: scale(1);
    /*opacity: .8;*/
    opacity: .5;
}
